<!DOCTYPE html>
<html>
<head>
  <title>GGC Hackathon Event Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Events", { controller: 'events', action: 'index'} %></li>
          <li><%= link_to "Blog",   { controller: 'posts', action: 'index'} %></li>
          <li><%= link_to "FAQ",   faq_path %></li>
          <li><%= link_to "Rules", rules_path %></li>
          <li><a href="https://getinvolved.ggc.edu/organization/googlegrizzlies" target="blank">Google Grizzlies</a></li>
          <li><a><div class="g-plus" data-action="share" data-href="https://ggchack.herokuapp.com/"></div></a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= yield %>
  </div>
</body>
</html>
